@import "tailwindcss";

@theme {
  /* colors */
  --color-base-color: #ffffff;
  --color-primary-color: #f15156;
  --color-primary-color-dark: #e44449;
  --color-primary-color-light: #fdeced;
  --color-secondary-color: #0d3b66;
  --color-tertiary-color: #f4d35e;

  /* font-size */
  --text-extra-small-size: 0.8rem;
  --text-small-size: 1.2rem;
  --text-base-size: 1.6rem;
  --text-medium-size: 2.0rem;
  --text-large-size: 2.4rem;
  --text-extra-large-size: 4rem;
  --text-huge-size: 6rem;

  /* drop shadow */
  --drop-shadow-white: 0 0 3px rgba(255, 255, 255, 0.3);

  /* default settings */
  --default-font-family: "Nunito", serif;
}
